<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.rubypaper.login.LoginDao">
	
	<select id="getUserList"
		parameterType="com.rubypaper.login.LoginVO"
		resultType="com.rubypaper.login.LoginVO">

		select idx, id as username, password, role, name, grade from member0122
	</select>

	<select id="loginOK"
		parameterType="com.rubypaper.login.LoginVO"
		resultType="com.rubypaper.login.LoginVO">

		select idx, id as username, password, role, name, grade 
    from member0122 where id = #{username}
	</select>

	<insert id="insert"
		parameterType="com.rubypaper.login.LoginVO">

		insert into member0122 (idx, id, password, role, name, grade) 
    values (idx.nextval, #{username}, #{password}, #{role}, #{name}, #{grade})
	</insert>

	<delete id="delete"
		parameterType="com.rubypaper.login.LoginVO">

		delete from member0122 where trim(idx) = #{idx}
	</delete>

	<update id="update"
		parameterType="com.rubypaper.login.LoginVO">

		update member0122 set password = #{password} where id = #{username}
	</update>

</mapper>
