<div th:replace="~{/include/thymeleafTop}"></div>

<style>
  tr {
    text-align: center;
  }

  .tdleft {
    text-align: left;
  }
</style>

<section>
  <div align=center>
    <h2>회원 매출 조회</h2>
    <br>
    <table border="1">
      <tr>
        <th>custno</th>
        <th>custname</th>
        <th>grade</th>
        <th>price</th>
      </tr>
      <tr th:each="money : ${li}">
        <td th:text="${money.custno}">
        <td th:text="${money.custname}">
        <td th:text="${money.grade}">
        <td th:text="${money.price}">
      </tr>
    </table>
  </div>
</section>

<div th:replace="~{/include/thymeleafBottom}"></div>