<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<title>thymeleaf</title>
</head>
<body>
<div th:replace="~{/include/top}"></div>

	<section>
		<div align=center>
			<br><br>
			<h1>학생 목록</h1>
			<br>
			<table border=1 width=400>
				<tr>
					<th>학번</th>
					<th>이름</th>
					<th>학년</th>
					<th>학과</th>
					<th>삭제</th>
				</tr>
				<tr th:each="student : ${li}">
					<td><a th:text="${student.sno}" th:href="@{/enrolForm.do(sno=${student.sno})}" ></a></td>
					<td><a th:text="${student.sname}" th:href="@{/getEnrol.do(sno=${student.sno})}"></a></td>
					<td th:text=${student.year}></td>
					<td th:text=${student.dept}></td>
					<td><a th:href="@{/deleteStudent.do(sno=${student.sno})}">삭제</a></td>
				</tr>
			</table>
		</div>
	</section>
	
<div th:replace="~{/include/bottom}"></div>
