<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<title>thymeleaf</title>
</head>
<body>
<div th:replace="~{/include/top}"></div>

	<section>
		<div align=center>
			<br>
			<table border=1>
				<tr>
					<th>학번</th>
					<th>이름</th>
					<th>학년</th>
					<th>학과</th>
				</tr>
				<tr th:each="student : ${li}">
					<td th:text="${student.sno}" />
					<td th:text=${student.sname}></td>
					<td th:text=${student.year}></td>
					<td th:text=${student.dept}></td>
				</tr>
			</table>
		</div>
	</section>
	
<div th:replace="~{/include/bottom}"></div>
