<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.springboot.jungbo0129.member.MemberDao">
	
	<select id="memberList"
		parameterType="com.springboot.jungbo0129.member.MemberVO"
		resultType="com.springboot.jungbo0129.member.MemberVO">

		<!-- select * from member_tbl_02 order by custno desc -->
		select m.custno as custno, custname, password, phone, address, joindate, 
			grade, city, trim(nvl(files, 'space.png')) as files 
			from member_tbl_02 m left join memberFile mf
			on m.custno = mf.custno order by custno desc
	</select>

  <select id="member"
		parameterType="com.springboot.jungbo0129.member.MemberVO"
		resultType="com.springboot.jungbo0129.member.MemberVO">

		select * from member_tbl_02 where custno = #{custno}
	</select>

	<select id="custno"
		parameterType="com.springboot.jungbo0129.member.MemberVO"
		resultType="int">

		select max(custno) + 1 from member_tbl_02 
	</select>

  <insert id="memberInsert"
		parameterType="com.springboot.jungbo0129.member.MemberVO">

		insert into member_tbl_02 (custno, custname, password, phone, address, joindate, grade, city) 
    values (#{custno}, #{custname}, #{password}, #{phone}, #{address}, #{joindate}, #{grade}, #{city})	
  </insert>

	<insert id="fileInsert"
		parameterType="com.springboot.jungbo0129.member.MemberVO">

		insert into memberFile (idx, custno, files) 
    values ((select max(idx)+1 from memberFile), #{custno}, #{files})	
  </insert>

  <update id="memberUpdate"
		parameterType="com.springboot.jungbo0129.member.MemberVO">

		update member_tbl_02 
    set custname=#{custname}, password=#{password}, 
    phone=#{phone}, address=#{address} 
    where custno=#{custno}
  </update>

</mapper>
