<div th:replace="/include/thymeleafTop"></div>

<section>

  <p><a href="/main">메인으로 이동</a></p>
  <!-- <p><a href="/userForm">회원등록</a></p> -->
  <div>
    <form action="/update">
      <table border="1" align="center">
        <tr>
          <th>idx</th>
          <th>username</th>
          <th>password</th>
          <th>role</th>
          <th>name</th>
          <th>grade</th>
        </tr>
        <tr th:each="user : ${li}">
          <td th:text="${user.idx}">
          <td><a th:href="@{/getUser(idx=${user.idx}, username=${user.username}, password=${user.password})}"
            th:text="${user.username}"></a></td>
          <td th:text="${#strings.substring(user.password, 0, 7)}">
          <td th:text="${user.role}">
          <td th:text="${user.name}">
          <td th:text="${user.grade}">
        </tr>
      </table>
    </form>
  </div>
</section>

<div th:replace="/include/thymeleafBottom"></div>