<div th:replace="~{/include/thymeleafTop}"></div>

<section>
  <div align="center">
    <h2>유저 목록</h2>
    <br>
    <form action="/update">
      <table border="1" align="center">
        <tr>
          <th>idx</th>
          <th>username</th>
          <th>password</th>
          <th>role</th>
          <th>name</th>
          <th>grade</th>
          <th>fileStr</th>
          <th>file</th>
        </tr>
        <tr th:each="user : ${li}">
          <td th:text="${user.idx}">
          <td><a th:href="@{/getUser(idx=${user.idx}, username=${user.username}, password=${user.password})}"
            th:text="${user.username}" onClick="move('상세페이지로')"></a></td>
          <td th:text="${#strings.substring(user.password, 0, 15)}">
          <td th:text="${user.role}">
          <td th:text="${user.name}">
          <td th:text="${user.grade}">
          <td th:text="${user.fileStr}">
          <td><img th:src="@{/img/__${user.fileStr}__}" alt="image" width="50px"></td>
        </tr>
      </table>
    </form>
  </div>
</section>

<div th:replace="~{/include/thymeleafBottom}"></div>