<div th:replace="~{/include/thymeleafTop}"></div>

<section>
  <div align="center">
    <h2>회원 가입</h2>
    <br>
    <form action="/insert" method="post" enctype="multipart/form-data">
      <table border="1">
        <tr>
          <th>username</th>
          <td><input type="text" name="username"></td>
        </tr>
        <tr>
          <th>password</th>
          <td><input type="text" name="password"></td>
        </tr>
        <tr>
          <th>role</th>
          <td>
						<select name="role">
							<option value="admin">관리자</option>
							<option value="manager">매니저</option>
							<option value="member">맴버</option>
						</select>
					</td>
        </tr>
        <tr>
          <th>name</th>
          <td><input type="text" name="name"></td>
        </tr>
        <th>grade</th>
          <td>
						<select name="grade">
							<option value="일반">일반</option>
							<option value="매니저">매니저</option>
							<option value="회원1">회원1</option>
						</select>
					</td>
          <tr>
            <th>파일</th>
            <td><input type="file" name="file"></td>
          </tr>
        <tr>
          <td align="center" colspan="2">
            <input type="submit" value="저장">
          </td>
        </tr>
      </table>
    </form>
  </div>
</section>

<div th:replace="~{/include/thymeleafBottom}"></div>