<div th:replace="~{/include/thymeleafTop}"></div>

<style>
  tr {
    text-align: center;
  }

  .tdleft {
    text-align: left;
  }
</style>

<section>
  <div align="center">
    <h2>주문서</h2>
    <br>
    <table border="1">
      <tr>
        <th>오더순번</th>
        <th>카트순번</th>
        <th>상품번호</th>
        <th>상품이름</th>
        <th>수량</th>
        <th>가격</th>
        <th>주문일</th>
      </tr>
      <tr th:each="order : ${li}">
        <td><input name="order_idx" th:value="${order.order_idx}" readonly></td>
        <td><input name="cart_idx" th:value="${order.cart_idx}" readonly></td>
        <td><input name="product_idx" th:value="${order.product_idx}" readonly></td>
        <td><input name="product_name" th:value="${order.product_name}" readonly></td>
        <td><input name="product_amount" th:value="${order.product_amount}" readonly></td>
        <td><input name="total_price" th:value="${order.total_price}" readonly></td>
        <td><input name="order_today" th:value="${order.order_today}" readonly></td>
      </tr>
      <tr th:if="${#lists.isEmpty(li)}">
        <td colspan="8" align="center">주문서가 비어있습니다.</td>
      </tr>
    </table>
  </div>
</section>

<div th:replace="~{/include/thymeleafBottom}"></div>