<div th:replace="~{/include/thymeleafTop}"></div>

<section>
  <div align=center>
    <h2>방명록</h2>
    <br>
    <form action="/guestbookList?ch1=${ch1}&ch2=${ch2}">
      <select name="ch1" >
        <option value="name">이름</option>
        <option value="memo">메모</option>
      </select>
      <input type="text" name="ch2">
      <input type="submit" value="검색">
    </form>
    <br>
    <table border="1">
      <tr>
        <th>idx</th>
        <th>name</th>
        <th>memo</th>
        <th>today</th>
      </tr>
      <tr th:each="guestbook : ${li}">
        <td th:text="${guestbook.idx}">
        <td th:text="${guestbook.name}">
        <td th:text="${guestbook.memo}">
        <td th:text="${guestbook.today}">
      </tr>
    </table>
  </div>
</section>

<div th:replace="~{/include/thymeleafBottom}"></div>