<div th:replace="~{/include/thymeleafTop}"></div>

<style>
  tr {
    text-align: center;
  }

  .tdleft {
    text-align: left;
  }
</style>

<section>
  <div align=center>
    <h2>맴버 목록</h2>
    <br>
    <table border="1">
      <tr>
        <th>순번</th>
        <th>이름</th>
        <th>암호</th>
        <th>번호</th>
        <th>주소</th>
        <th>가입</th>
        <th>등급</th>
        <th>도시</th>
        <th>사진</th>
        <th>사진</th>
      </tr>
      <tr th:each="member : ${li}">
        <td>
          <a th:href="@{'/member?custno=' + ${member.custno}}">
            <span th:text="${member.custno}"></span>
          </a>
        <td th:text="${member.custname}">
        <td th:text="${member.password}">
        <td th:text="${member.phone}">
        <td class="tdleft" th:text="${member.address}">
        <td th:text="${#dates.format(member.joindate, 'yyyy년MM월dd일')}">
        <td th:switch="${member.grade}">
          <span th:case="A">VIP</span>
          <span th:case="B">일반</span>
          <span th:case="C">직원</span>
        </td>
        <td th:text="${member.city}">
        <td th:text="${member.files}">
        <td>
          <img th:src="@{/img/member/__${member.files}__}" alt="image" width="50">
        </td>
      </tr>
    </table>
  </div>
</section>

<div th:replace="~{/include/thymeleafBottom}"></div>