@charset "UTF-8";

:root {
	--main-background-color: #fffbfb;
	--header-background-color: #fff;
	--section-background-color: #E7E8EC;
	--footer-background-color: #F4F5F6;

	/* CSS 전역 변수 선언 */
	--check-color: #303e3d;
	--check2-color: #772b31;
	--point-background-color: #F6F5F1;
	--border-color: rgb(228, 228, 228);
	--main-color: #000;
	--link-color: #rgb(207, 190, 177);
}

header {
	border-bottom: 1px solid var(--border-color);
	background: var(--header-background-color);
	color: var(--main-color);
	height: 90px;
	line-height: 90px;
	font-size: 40px;
	text-align: center;
}

.burger-menu {
	display: none;
	cursor: pointer;
	font-size: 20px;
	position: absolute;
	top: 10px;
	left: 10px;
}

nav {
	display: flex;
	align-items: center;
	background-color: #333;
	color: #fff;
	padding: 4px;
	position: relative;
	text-align: left;

	/* border-bottom: 1px solid white; */
	background: var(--main-background-color);
	color: var(--main-color);
	height: 40px;
	line-height: 40px;
	font-size: 16px;
}

nav a {
	display: block;
	text-decoration: none;
}

th {
	font-weight: bold;
	background: var(--point-background-color);
}

a {
	text-decoration: none;
	color: var(--link-color);
	font-weight: bold;
}

ul {
	text-align: center;
}

li {
	list-style-type: none;
}

section {
	background: var(--section-background-color);
	color: var(--main-color);
	min-height: 500px;
	line-height: 25px;
	font-size: 16px;
	text-align: left;
}

footer {
	border-top: 1px solid var(--border-color);
	background: var(--footer-background-color);
	color: var(--main-color);
	height: 50px;
	line-height: 50px;
	font-size: 16px;
	text-align: center;
}

td {
	padding: 0px 4px;
}



/* 모바일 화면 스타일 */
@media (max-width: 767px) {

	nav {
		justify-content: flex-start;
		display: none;
		/* 기본적으로 숨김 */
		position: absolute;
		/* top: 60px; */
		/* 햄버거 버튼 아래에 위치하도록 조정 */
		left: 0;
		right: 0;
		z-index: 1;
	}

	nav a {
		display: block;
		margin: 0 4px;
		text-align: left;
	}

	.nav-container {
		background: var(--point-background-color);
	}

	.menu-list {
		display: flex;
		list-style: none;
		padding: 0;
		margin: 0;
	}

	.menu-list li {
		margin-right: 10px;
		/* 각 항목 사이의 간격을 조절할 수 있습니다. */
	}

	.burger-menu {
		display: block;
	}

	.nav-visible {
		width: 200px;
		display: flex;
		flex-direction: column;
		align-items: flex-start;
	}
}

/* 태블릿 화면 스타일 */
@media (min-width: 768px) and (max-width: 1023px) {
	nav {
		justify-content: flex-start;
		display: none;
		/* 기본적으로 숨김 */
		position: absolute;
		top: 60px;
		/* 햄버거 버튼 아래에 위치하도록 조정 */
		left: 0;
		right: 0;
		z-index: 1;
	}

	nav a {
		display: block;
		margin: 0 4px;
		/* text-align: left; */
	}

	.nav-container {
		background: var(--point-background-color);
	}



	.burger-menu {
		display: block;
	}

	.nav-visible {
		width: 200px;
		display: flex;
		flex-direction: column;
		align-items: flex-start;
	}
}

/* 데스크톱 화면 스타일 */
@media (min-width: 1024px) {
	nav {
		justify-content: space-around;
		flex-direction: row;
	}
	
	nav a {
		margin: 0 8px;
	}

	.nav-container {
		box-sizing: border-box;
	}
	
	.menu-list {
		width: 100%;
		display: flex;
		justify-content: space-around;
		list-style: none;
		padding: 0;
		margin: 0;
	}

	.menu {
		height: 120px;
	}

	.menu li {
		width: 200px;
	}

	nav:hover li ul {
		display: block;
		/* position: absolute; */
		top: 100%; /* 바로 아래에 표시 */
		left: 0;
		width: 100%;
		background-color: var(--main-background-color);
		z-index: 1;
}
	
	li ul {
		display: none;
	}
}