<div th:replace="~{/include/thymeleafTop}"></div>

<section>
  <div align="center">
    <h2>로그인 화면</h2>
    <form method="post">
      <table border="1">
        <tr>
          <th>아이디</th>
          <th><input type="text" name="username"></th>
        </tr>
        <tr>
          <th>암호</th>
          <th><input type="text" name="password"></th>
        </tr>
        <tr>
          <th colspan="2" align="center"><input type="submit" value="로그인"></th>
        </tr>
      </table>      
    </form>
  </div>
</section>

<div th:replace="~{/include/thymeleafBottom}"></div>