<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <title>스프링 게시판</title>
  <link type="text/css" rel="stylesheet" href="/css/style.css" />
</head>

<body>
  <nav id="nav">
    <div class="list-container">
      <h2>쇼핑몰 회원관리</h2>
      <ul class="list">
        <li><a href="/">시작페이지</a></li>
        <li><a href="/main.do">메인</a></li>
      </ul>
    </div>
    <div class="list-container">
      <h4>맴버</h4>
      <ul class="list">
        <li>
          <a href="/memberList">
            <span>맴버목록</span>
          </a>
        </li>
        <li>
          <a href="/memberForm">
            <span>회원등록</span>
          </a>
        </li>
        <li>
          <a href="/fileForm">
            <span>사진등록</span>
          </a>
        </li>
      </ul>
    </div>
    <div class="list-container">
      <h4>매출</h4>
      <ul class="list">
        <li>
          <a href="/moneyList">
            <span>매출조회</span>
          </a>
        </li>
      </ul>
    </div>
    <div class="list-container">
      <h4>공공데이터</h4>
      <ul class="list">
        <li>
          <a href="/dataXMLList">
            <span>XML</span>
          </a>
        </li>
        <li>
          <a href="/dataJSONList">
            <span>JSON</span>
          </a>
        </li>
        <li>
          <a href="/dataDelete.do">
            <span>DB삭제</span>
          </a>
        </li>
        <li>
          <a href="/dataList.do">
            <span>DB</span>
          </a>
        </li>
        <li>
          <a href="/dataInsert.do">
            <span>DB추가</span>
          </a>
        </li>
      </ul>
    </div>
    <div class="list-container">
      <h4>방명록</h4>
      <ul class="list">
        <li>
          <a href="/guestbookList">
            <span>방명록</span>
          </a>
        </li>
        <li>
          <a href="/guestbookAdd">
            <span>방명록추가</span>
          </a>
        </li>
      </ul>
    </div>
  </nav>