<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <title>스프링 게시판</title>
  <link type="text/css" rel="stylesheet" href="/css/style.css" />
</head>

<body>
  <nav id="nav">
    <div class="list-container">
      <h2>쇼핑몰 회원관리</h2>
      <ul class="list">
        <li><a href="/">시작페이지</a></li>
        <li><a href="/main.do">메인</a></li>
      </ul>
    </div>
    <div class="list-container">
      <h4>맴버</h4>
      <ul class="list">
        <li>
          <a href="/memberList">
            <span>맴버목록</span>
          </a>
        </li>
      </ul>
    </div>
  </nav>